header {
  text-align: center;
  font-family: Oleo Script, cursive;
  font-size: 20px;
  color: #ffa000;
  text-shadow: 1px 1px rgb(0 0 0 / 40%);
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}

.book-list {
  min-width: 30%;
  list-style: none;
}

.book {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-book {
  padding: 1rem;
}
.book li {
  flex: 1;
}
